<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="oops-text mb-4" style="font-size: 80px; margin-top: 100px;">OOPs</div>
        <div class="message-text fs-3 mb-4 text-danger">Only recruiters are allowed to access this page, Login as recruiter to continue.</div>
    </div>
</div>