<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mynav">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="#">easily</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link fs-5" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="/jobs">Jobs</a>
            </li>
            <li class="nav-item dropdown">
             <% if(locals.name){ %>
                <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= locals.name %>
                </a>
             <% }else{ %>
              <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recruiter
              </a>
             <% } %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if(locals.userEmail){ %>
                  <a class="dropdown-item fs-5" href="/logout">logout</a>
                <% }else{ %>
                <a class="dropdown-item fs-5" href="/login">Login</a>
                <% } %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item fs-5" href="/new-job">Post New Job</a>
              </div>
            </li>
          </ul>
          <form class="d-flex" method="post" action="/jobs">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </div>
</nav>