<div class="container d-flex ">
    <div class="container-fluid pt-3 ">
        <h1 class="Main-heading">A Comprehensive Platform For Reliable</h1>
        
        <h2 class="animation-heading typing-text">Job Opportunities And Internship.</h2>
        <h4 class="para">Get Discovered. Get Hired.</h4><div style="display: flex; flex-wrap: wrap;">
        <a href="/jobs" type="submit" class="main-btn">I'm A Job Seeker</a>
       <% if(!locals.name){ %>
        <a href="/register"  class="main-btn">I'm A Recruiter</a>
        <% } %>
        </div>
    </div>
    <div class="container-fluid image">
        <img src="https://i.ibb.co/XZwwFX1K/banner.png" width="100%"height="100%" alt="image" style="object-fit: contain;">
    </div>
   
</div>
<% if(locals.name){ %>
    <% if(locals.lastVisit){ %>
        <div class="alert alert-primary" role="alert">
            Your lastVisit : <%= locals.lastVisit %>
       </div>
    <% } %>
<% } %>